@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*fuente general de la página*/
body {
  font-family: "Work Sans", sans-serif;
  /*background-color: #f3f5f7;*/ }

.marginMain {
  margin: 1em; }

.soluciones {
  margin-bottom: 3em; }

.container {
  margin-left: 0;
  margin-right: 0; }

/*títulos principales*/
.tituloIzquierda {
  font-weight: 300;
  line-height: 2;
  color: #e7454a;
  margin-left: 1.9em; }
  @media only screen and (max-width: 600px) {
    .tituloIzquierda {
      margin-left: 1em; } }

.tituloCentro {
  color: #e7454a;
  font-weight: 300;
  text-align: center;
  margin: 2%; }

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1900px; }

/*agrupacion flex imagen y lista*/
header {
  background-color: #012d41;
  color: white; }
  header .logo {
    margin-left: 1em;
    width: 14em;
    height: 4em; }
  @media only screen and (max-width: 600px) {
    header .logo {
      margin-left: 0;
      width: 10em; } }
  header .navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: white; }
  header .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: flex-end; }

/*activador de animación*/
.nav-link:hover {
  background: linear-gradient(100deg, #00e5b7, #012d41);
  background-size: 500%;
  animation: gradiente 1s ease-in-out;
  animation-iteration-count: 1; }

/*animación del menú con gradiente*/
@keyframes gradiente {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*seccion página index*/
.heroSection__background {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 599px;
  /* no mas de 600px porque se alarga el video en eje Y */
  position: relative;
  background: #012d41;
  overflow: hidden; }

.heroSection__background__video {
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0.5; }
  @media only screen and (max-width: 600px) {
    .heroSection__background__video {
      margin: 0;
      padding: 0;
      width: 100%;
      opacity: 0.5;
      min-height: auto;
      width: 290.037%;
      min-width: 100vw; } }

.contenido {
  width: 100%;
  height: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 50%;
  text-align: center; }
  .contenido h1 {
    color: white;
    width: 100%;
    font-size: 2.7rem;
    line-height: 1.1;
    font-weight: 500; }
    @media only screen and (max-width: 768px) {
      .contenido h1 {
        font-size: 2rem;
        margin-top: 6%; } }
    .contenido h1 span {
      margin-top: 1em;
      display: block; }
  @media only screen and (max-width: 600px) {
    .contenido {
      top: 50%; }
      .contenido h1 {
        color: white;
        width: 100%;
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 500;
        text-align: center; } }
  @media only screen and (max-width: 768px) {
    .contenido {
      top: 27%; } }

/*texto página quienes somos*/
.contenedor__texto {
  width: 49%;
  text-align: left;
  margin-top: 2em;
  font-size: large;
  margin-right: 9em; }
  @media only screen and (max-width: 600px) {
    .contenedor__texto {
      width: auto;
      float: none;
      margin-right: 0; } }

/*card de empresa*/
.card {
  height: 350px;
  margin-top: 5%;
  /*logo de la empresa */
  /*botón ir a páginas de la empresa*/
  /*logos de las empresas*/
  /*único logo en png, ajuste de dimensiones*/ }
  .card img {
    height: auto;
    min-height: 64px;
    width: 150px; }
  .card a {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    width: 25%;
    text-align: center;
    text-decoration: none;
    background-color: #e7454a;
    color: white;
    border: 1px solid grey; }
  .card p {
    min-height: 100px;
    text-align: center;
    max-height: 200px; }
  .card .cardImage {
    width: 100%;
    text-align: center; }
  .card #logolineaDigital {
    min-height: 40px;
    margin: 12px; }

.contenedorBoton {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;
  margin-left: -1em; }

/*pagina soluciones*/
.contenedorTarjeta {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
  align-items: center;
  justify-content: space-around;
  width: 90%; }
  @media only screen and (max-width: 768px) {
    .contenedorTarjeta {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 0; } }
  .contenedorTarjeta .card {
    padding: 2em; }
  .contenedorTarjeta h5 {
    text-align: center;
    color: #012d41; }
  .contenedorTarjeta .card-text {
    font-size: large; }
  @media only screen and (max-width: 600px) {
    .contenedorTarjeta {
      flex-direction: column; } }

.tarjeta {
  margin-right: 5em; }

/*icono cards pagina soluciones*/
.fal {
  text-align: center;
  color: #00e5b7; }

/*Animaciones de las cards*/
.delayUno {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s; }

.delayDos {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s; }

.delayTres {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s; }

/*Animación cards páginas empresas*/
.delay-1 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s; }

.delay-2 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s; }

.delay-3 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s; }

.delay-4 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s; }

.delay-5 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s; }

.delay-6 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s; }

.contenedor {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-content: center;
  justify-content: space-evenly;
  margin-left: 4.5em; }
  @media only screen and (max-width: 768px) {
    .contenedor {
      margin-left: 4.1em;
      align-items: center; } }

.contenedor__texto {
  width: 60%; }

@media only screen and (max-width: 600px) {
  .contenedor {
    flex-direction: column-reverse;
    margin-left: 0em;
    padding-left: 2em; }
  .contenedor__texto {
    width: 100%; }
  .contenedor__texto__p {
    text-align: left; } }

.contenedor__image__img {
  width: 100%;
  justify-content: center;
  margin-top: -6em; }
  @media screen and (max-width: 600px) {
    .contenedor__image__img {
      margin-top: -1.5em;
      margin-bottom: -2em; } }

.empresa {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }

/*botones del formulario*/
.boton {
  margin-top: 2%;
  text-align: center;
  justify-content: flex-end;
  display: flex; }

.formulario {
  margin-left: 4em; }
  @media only screen and (max-width: 600px) {
    .formulario {
      margin-left: 1em; } }

.parrafoFormulario {
  margin-left: 4em; }
  @media only screen and (max-width: 768px) {
    .parrafoFormulario {
      margin-left: 3.4em; } }
  @media only screen and (max-width: 600px) {
    .parrafoFormulario {
      margin-left: 1em; } }

form {
  background: white;
  padding: 4em;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    form {
      padding: 0;
      margin-bottom: 2em;
      padding-left: 1em; } }

.contenedorFormulario {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contenedorFormulario .imagenContacto {
    margin-left: 1em; }
  @media only screen and (max-width: 768px) {
    .contenedorFormulario .row {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; }
      .contenedorFormulario .row .imagenContacto {
        text-align: center; }
        .contenedorFormulario .row .imagenContacto img {
          width: 50%; } }
  @media only screen and (max-width: 1200px) {
    .contenedorFormulario .row {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; }
      .contenedorFormulario .row .imagenContacto {
        text-align: center; }
        .contenedorFormulario .row .imagenContacto img {
          width: 50%; }
      .contenedorFormulario .row form {
        padding: 3em; } }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #012d41;
  padding: 25px 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  color: white; }
  .footer div {
    width: 33%; }
    .footer div img {
      margin-left: 5em;
      margin-top: 2em;
      width: 60%;
      height: 60%; }
  .footer li p {
    margin-top: 0.5em;
    margin-bottom: 0 !important; }
  .footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -2em;
    width: 10em; }
  .footer a {
    color: white; }
  .footer .footerTitulo {
    font-weight: 400;
    font-size: x-large; }
  .footer .contenedorRedes div {
    width: 100%; }
  .footer .contenedorRedes .footerTitulo {
    margin-top: 0.5em !important; }
  @media only screen and (max-width: 576px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer div {
        width: 100%; }
        .footer div img {
          margin-left: 0;
          margin-top: 2em;
          width: 100%;
          height: 60%; }
      .footer .contenedorRedes {
        margin-left: 2em; }
        .footer .contenedorRedes div {
          width: 100%; } }
  @media only screen and (max-width: 576px) and (max-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer div {
        width: 100%; }
        .footer div img {
          margin-left: 0;
          margin-top: 2em;
          width: 100%;
          height: 60%; }
      .footer ul {
        margin-left: -1em; }
      .footer .contenedorRedes {
        margin-left: 1em; }
        .footer .contenedorRedes div {
          width: 100%; } }
  @media only screen and (max-width: 992px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer div {
        width: 100%; }
        .footer div img {
          margin-left: 0;
          margin-top: 2em;
          width: 100%;
          height: 60%; }
      .footer ul {
        margin-left: -1em; }
      .footer .contenedorRedes {
        margin-left: 1em; }
        .footer .contenedorRedes div {
          width: 100%; } }

.backgroundImage {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='760' preserveAspectRatio='none' viewBox='0 0 1600 760'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1079%26quot%3b)' fill='none'%3e%3crect width='1600' height='760' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M -447.4818993446062%2c554 C -340.68%2c490.6 -127.08%2c223.6 86.51810065539385%2c237 C 300.12%2c250.4 406.92%2c648 620.5181006553938%2c621 C 834.12%2c594 940.92%2c130.2 1154.518100655394%2c102 C 1368.12%2c73.8 1599.42%2c473.8 1688.518100655394%2c480 C 1777.61%2c486.2 1617.7%2c202.4 1600%2c133' stroke='rgba(231%2c 69%2c 74%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -156.82321141802174%2c196 C -50.02%2c246 163.58%2c438 377.17678858197826%2c446 C 590.78%2c454 697.58%2c243.6 911.1767885819783%2c236 C 1124.78%2c228.4 1231.58%2c430.8 1445.1767885819781%2c408 C 1658.78%2c385.2 1948.21%2c74.2 1979.1767885819781%2c122 C 2010.14%2c169.8 1675.84%2c542 1600%2c647' stroke='rgba(150%2c 148%2c 149%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -782.0416886864998%2c98 C -675.24%2c171.6 -461.64%2c441.4 -248.04168868649978%2c466 C -34.44%2c490.6 72.36%2c224.6 285.9583113135002%2c221 C 499.56%2c217.4 606.36%2c447.4 819.9583113135002%2c448 C 1033.56%2c448.6 1197.95%2c233.8 1353.9583113135002%2c224 C 1509.97%2c214.2 1550.79%2c364 1600%2c399' stroke='rgba(1%2c 45%2c 65%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -75.54152410818557%2c88 C 31.26%2c180 244.86%2c537.2 458.45847589181443%2c548 C 672.06%2c558.8 778.86%2c143.2 992.4584758918145%2c142 C 1206.06%2c140.8 1312.86%2c543 1526.4584758918145%2c542 C 1740.06%2c541 2045.75%2c141.4 2060.4584758918145%2c137 C 2075.17%2c132.6 1692.09%2c443.4 1600%2c520' stroke='rgba(0%2c 229%2c 183%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -370.94413647962654%2c684 C -264.14%2c568.4 -50.54%2c136 163.0558635203735%2c106 C 376.66%2c76 483.46%2c516.2 697.0558635203735%2c534 C 910.66%2c551.8 1017.46%2c207.6 1231.0558635203736%2c195 C 1444.66%2c182.4 1691.27%2c465.6 1765.0558635203736%2c471 C 1838.84%2c476.4 1633.01%2c271.8 1600%2c222' stroke='rgba(1%2c 45%2c 65%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1079'%3e%3crect width='1600' height='760' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); }
