/*card de empresa*/

.card {
  height: 350px;
  margin-top: 5%;

  /*logo de la empresa */
  img {
    height: auto;
    min-height: 64px;
    width: 150px;
  }

  /*botón ir a páginas de la empresa*/
  a {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    width: 25%;
    text-align: center;
    text-decoration: none;
    background-color: $color-secundario;
    color: white;
    border: 1px solid $color-border;
  }

  p {
    min-height: 100px;
    text-align: center;
    max-height: 200px;
  }

  /*logos de las empresas*/
  .cardImage {
    width: 100%;
    text-align: center;
  }

  /*único logo en png, ajuste de dimensiones*/
  #logolineaDigital {
    min-height: 40px;
    margin: 12px;
  }
}

.contenedorBoton {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;
  margin-left: -1em;
}

/*pagina soluciones*/

.contenedorTarjeta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5em;
  align-items: center;
  width: 100%;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin-left: 1.8em;
  }
}

.tarjeta {
  margin-right: 5em;
}
