.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: $color-primario;
  padding: 25px 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  color: white;
  div {
    width: 33%;
    img {
      margin-left: 5em;
      margin-top: 2em;
      width: 60%;
      height: 60%;
    }
  }

  li p {
    margin-top: 0.5em;
    margin-bottom: 0 !important;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -2em;
    width: 10em;
  }

  a {
    color: white;
  }

  .footerTitulo {
    font-weight: 400;
    font-size: x-large;
  }
  .contenedorRedes {
    div {
      width: 100%;
    }
    .footerTitulo {
      margin-top: 0.5em !important;
    }
  }

  @media only screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      width: 100%;
      img {
        margin-left: 0;
        margin-top: 2em;
        width: 100%;
        height: 60%;
      }
    }

    .contenedorRedes {
      margin-left: 2em;
      div {
        width: 100%;
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        width: 100%;
        img {
          margin-left: 0;
          margin-top: 2em;
          width: 100%;
          height: 60%;
        }
      }
      ul {
        margin-left: -1em;
      }
      .contenedorRedes {
        margin-left: 1em;
        div {
          width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      width: 100%;
      img {
        margin-left: 0;
        margin-top: 2em;
        width: 100%;
        height: 60%;
      }
    }
    ul {
      margin-left: -1em;
    }
    .contenedorRedes {
      margin-left: 1em;
      div {
        width: 100%;
      }
    }
  }

  
}
