/*botones del formulario*/

.boton {
  
  margin-top: 2%;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

.formulario {
  margin-left: 4em;
  @media only screen and (max-width: 600px) {
    margin-left: 1em;
  }
}

.parrafoFormulario {
  margin-left: 4em;
  @media only screen and (max-width: 600px) {
    margin-left: 1em;
  }
}
form{
  background: white;
  padding: 6em;
width: 100%;
}
