/*agrupacion flex imagen y lista*/
header {
  background-color: $color-primario;
  color: $color-letra-header;

  .logo {
    margin-left: 1em;
    width: 14em;
    height: 4em;
  }

  .nav-link {
    margin-bottom: 2px;
  }
  @media only screen and (max-width: 600px) {
    .logo {
      margin-left: 0;
      width: 10em;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: $color-letra-header;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: flex-end;
  }
}
.nav-link:hover {
  margin-bottom: 0px;
}
/*activador de animación*/
.nav-link:hover::after {
  content: "";
  border-bottom: 2px solid $color-terciario;
  position: relative;
  bottom: 0;
  display: block;
  overflow: hidden;
  z-index: 0;
}
